[submodule "moonlight-common/moonlight-common-c"]
	path = moonlight-common/moonlight-common-c
url=https://github.com/TrueZhuangJia/voidlink-c.git
[submodule "X1Kit"]
	path = X1Kit
	url = https://github.com/cgutman/X1Kit.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/moonlight-audio-haptics"]
	path = third_party/moonlight-audio-haptics
	url = https://github.com/TrueZhuangJia/moonlight-audio-haptics.git
